@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  overflow: hidden;
}

.container {
  padding: 0 33.5px;
}

.home__wrapper {
  background-image: url("../Assets/Desktop/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 26.5px;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home__wrapper .scroll__wrapper {
  height: 35px;
  padding-bottom: 26.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home__wrapper .scroll__wrapper .scroll__text {
  text-transform: uppercase;
  font-size: 9px;
  letter-spacing: 0.3px;
  color: white;
  font-family: "PT Sans", sans-serif;
}

.home__wrapper .scroll__wrapper .scroll__arrow {
  width: 16px;
  height: 16px;
}

.home__wrapper .header__wrapper .header__navbar {
  margin: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home__wrapper .header__wrapper .navbar-item {
  display: block;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.3px;
  color: white;
  font-family: "PT Sans", sans-serif;
  padding: 0 20px;
}

.home__wrapper .header__wrapper .bottom-line {
  margin: 0;
  height: 0;
  border-top: 1px solid white;
  border-bottom: 0px;
}
